<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

        {{ content }}

    {% include footer.html %}
    {% include backToTop.html %}
    <script src="{{ " /js/main.js " | prepend: site.baseurl }}" charset="utf-8"></script>
    <script src="{{ " /js/smooth-scroll.min.js " | prepend: site.baseurl }}" charset="utf-8"></script>
    <script type="text/javascript">
      smoothScroll.init({
        speed: 500, // Integer. How fast to complete the scroll in milliseconds
        easing: 'easeInOutCubic', // Easing pattern to use
        offset: 20, // Integer. How far to offset the scrolling anchor location in pixels
      });
    </script>
    <!-- <script src="{{ " /js/scroll.min.js " | prepend: site.baseurl }}" charset="utf-8"></script> -->
    
  </body>
   <!--<audio id="bgmMusic" src="/media/周二珂 - 告白气球.mp3" preload="auto" type="audio/mp3" autoplay="" loop=""></audio> -->
  <audio id="bgmMusic1" src="/media/周二珂 - 告白气球.mp3" type="audio/mp3" loop=""></audio>
  <audio id="bgmMusic2" src="/media/飞轮海_田馥甄 - 只对你有感觉.mp3" type="audio/mp3" loop=""></audio>
  <script src="/js/JSClickBubble.user.js"></script>
</html>

